.signup {
	max-width: 500px;
	padding: 70px;
	margin-inline: auto;
	background: rgba(0, 0, 0, 0.85);

	& > form {
		display: grid;
		flex-direction: column;

		& > input {
			outline: none;
			border: none;
			height: 40px;
			margin-bottom: 12px;
			border-radius: 5px;
			padding: 5px 15px;
		}

		& > h1 {
			text-align: left;
			margin-bottom: 25px;
		}

		& > h4 {
			text-align: left;
			margin-top: 30px;
		}
	}

	&__button {
		padding: 16px 20px;
		font-size: 1rem;
		color: #fff;
		border-radius: 5px;
		background-color: #e50914;
		border: none;
		cursor: pointer;
		margin-top: 20px;
	}

	&__buttonDisabled {
		padding: 16px 20px;
		font-size: 1rem;
		color: #fff;
		border-radius: 5px;
		border: none;
		cursor: pointer;
		margin-top: 20px;
		background-color: #914f52;
		cursor: not-allowed;
	}

	&__green {
		color: #00ff00;
		margin-top: 5px;
	}
	&__red {
		color: #ff0000;
		margin-top: 5px;
	}

	&__gray {
		color: gray;
	}

	&__link {
		&:hover {
			cursor: pointer;
			text-decoration: underline;
		}
	}
	.visible {
		visibility: visible;
	}
	.hidden {
		visibility: hidden;
	}
}
