.row {
	color: white;
	margin-left: 20px;
	&__posters {
		object-fit: contain;
		&__poster {
			object-fit: contain;
			max-height: 200px;
			margin-right: 10px;
			transition: transform 650ms;
			&:hover{
				transform: scale(1.08);
				cursor: pointer;
				opacity: 0.7;
			}
		}
		&__posterLarge {
			max-height: 300px;
			&:hover{
				transform: scale(1.09);
				cursor: pointer;
				opacity: 0.7;
			}
		}
		&__details {
			display: none;
			color: white;
			position: absolute;
			bottom: 25px;
			padding: 5px;
			width: 22rem;
			font-weight: bold;

			&__main {
				display: flex;
				align-items: center;
				margin-bottom: 5px;

				& > h4 > span {
					margin-left: 5px;
					font-size: 14px;
				}
			}
			&__small {
				display: flex;
				justify-content: space-between;
				align-items: center;
				& > h4 {
					border: 2px solid gray;
					padding: 2px;
					border-radius: 5px;
				}
			}
		}

		&__detailsLarge {
			width: 12.5rem;
		}
		&__poster:hover + &__details {
			display: flex;
			flex-direction: column;
		}
	}
}

#row__posters {
	display: flex;
	overflow-y: hidden;
	overflow-x: scroll;
	padding: 20px;
	position: relative;

	&::-webkit-scrollbar {
		display: none;
	}
}
